body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
.field,
input[type="tel"],
input[type="submit"] {
  font-size: 17px;
}
label,
input {
  display: block;
}
