body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
  color: #00B7FF

.field,
input[type="submit"]
  font-size: 17px

.logs li
  margin-bottom: .5em
  word-spacing: .5em
  font-size: 16px
  line-height: 1.5

.bubble
  -moz-border-radius: 15px
  -webkit-border-radius: 15px
  border-radius: 15px
  background-color: #98BFF2
  padding: 2px 7px
  color: black